{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My HTML Page</title>
    <link rel="stylesheet" href=".\style.css">
    <link rel="stylesheet" href="{% static '.\assets\styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url "home" %}" class="nav-link"> Home </a>
            <a href="{% url "about" %}" class="nav-link"> About Us</a>
            <a href="{% url "contacts" %}" class="nav-link"> Contact Us </a>
            <a href="{% url "members" %}" class="nav-link"> Members </a>
            <a href="{% url "our-story" %}" class="nav-link"> Story </a>
        </nav>
    </header>
    <h4>Learning Django</h4>

    <p>
        An Introduction to Django....
    </p>
    <img src="{% static ".\assets\images\home.jpg" %}" alt="my image">
    

    <a href="#" class="button">Visit</a>
    
</body>
</html>